<div class="container site-content">
	<div class="hidden-xs col-sm-12 site-top-padding"></div>
	<div class="row header-pictures">
			<img class="img-responsive col-sm-5 col-xs-12 pull-right logo" src="../img/fnfdesign-assets/logo.jpg">
			<div class="col-sm-7 col-xs-12 tagline">
				<div class="hidden-xs col-sm-12 site-top-padding"></div>
				<div class="hidden-xs col-sm-12 site-top-padding"></div>
				<div class="hidden-xs col-sm-12 site-top-padding"></div>
				<img class="img-responsive" src="../img/fnfdesign-assets/tagline.png">
			</div>
	</div>
	<div class="hidden-xs col-sm-12 site-top-padding"></div>
	<div class="container">	<div class="row jumbotron">
		<img class="ginger pull-left" src="../img/fnfdesign-assets/ginger.png">

		<p>Form and Function Consulting, based in Denton, Texas, specializes in empowering women and men to create and maintain a personal image that confidently communicates to the world who they are. </p>

		<p>Feeling comfortable in your own skin is the first step to feeling confident in how you look. Ginger will teach you simple principles to empower you to choose the colors and styles that complement you, your lifestyle and goals. Simply put, Ginger can help you make your outer appearance be an effortless representation of who you want to be.</p>

		<p>Whether you want to build your image from the ground up or simply identify the colors that make you glow, we can help you create the form so you can function.</p>
	</div></div>
	<div class="container">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h2>SERVICES</h2>
			<p>Full Image Consultation:
			 <br>&nbsp;&nbsp; Color Analysis
			 <br>&nbsp;&nbsp; Closet Audit
			 <br>&nbsp;&nbsp; Capsule Wardrobe Building
			 <br>&nbsp;&nbsp; Skin Care / Makeup
			<br>
			<br>All services also available individually.</p>
		</div>
		<div class="col-sm-6 col-xs-12">
			<h2>CONTACT</h2>
			<p>Ginger Dunton
			<br>p: 940-293-3290
			<br>e: ginger.dunton@gmail.com</p>

			<a href="http://facebook.com/formandfunctionconsulting"><img src="../img/facebook.png" alt="Form and Function Facebook Page"></a>


		</div>
	</div>
	</div>
	<div class="row site-footer">
		<div class="col-xs-12">
			<p class="pull-right">© 2014 Form and Function Consulting.  All Rights Reserved.</p>
	</div>
	</div>

</div>